<html
  lang="nb"
  dir="ltr"
  data-time_zone="Europe/Madrid"
  data-current-time="2026-02-03T10:02:59+01:00"
  data-currency="NOK"
  data-currency-symbol="kr"
>
  <plasmo-csui></plasmo-csui>
  <script
    data-token="422794-66703-72263"
    id="eternl-dom-script"
    src="chrome-extension://kmhcihpebfmpgmihbkipmjlmmioameka/app/dom.js?token=422794-66703-72263"
  ></script>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-param" content="authenticity_token" />
    <meta
      name="csrf-token"
      content="N-E1pZFW-alCKiYY6ZL81E7nOIE4cs9BkMQVQibYkg0B9lqV4u6XWqBQMhtvjdVqjWgVWYb-pNXTs81IpdpLUg"
    />
    <meta name="action-cable-url" content="/cable" />
    <title>Timebestilling for TRY Dig</title>
    <link rel="canonical" href="https://trydig.makeplans.com/services" />
    <link rel="preconnect" href="https://assets.makeplans.com" />

    <link
      rel="stylesheet"
      href="https://assets.makeplans.com/assets/theme_shared_icons-afae8118548e157f6b3c5f5e557caa371224285adb4beb54d909c24ca127fa42.css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="https://assets.makeplans.com/assets/theme_timisoara-fdc0672966cb402e91cb00430715e956fe0e6a1083de7df8971443b13b25b055.css"
      media="all"
    />
    <link rel="stylesheet" href="makeplans.css" />
  </head>
  <body class="c_services a_index">
    <!-- START header component -->
    <header class="header-footer-background">
      <div class="row">
        <div class="container">
          <div class="row header">
            <div class="col-2 col-t-1 col-m-half">
              <a class="logo" href="/">TRY Dig</a>
            </div>

            <div
              class="col-4 col-offset-6 col-t-3 col-t-offset-0 col-m-half col-m-offset-rm header-actions"
            >
              <button class="btn-action footer-button">
                <a href="/profile">Login</a>
              </button>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- END header component -->

    <main class="container-fluid">
      <div class="row">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <!-- START h1 -->
              <h1>Timebestilling for TRY Dig</h1>
              <!-- END h1 -->
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <p></p>
            </div>
          </div>
          <div class="row">
            <div class="col-6 col-t-2 col-m-1" id="services">
              <div
                class="select-container unselected"
                data-service-id="29586"
                data-service-link="/services/29586-test/slots"
                data-service-hide-end-time="false"
                data-service-booking-type="appointment"
              >
                <span itemprop="custom_data" class="hidden"></span>
                <div>
                  <img
                    class="check-selected-round"
                    src="https://assets.makeplans.com/assets/icons-radio-unselected-30077e9f27cf1338d7747002efed9141e83d11aa6241883e9ba0d7846a94f10d.png"
                  />
                </div>
                <div class="select-text-container">
                  <p itemprop="title">Test</p>
                  <div class="time-container">
                    <div>
                      <img
                        class="icon-time"
                        src="https://assets.makeplans.com/assets/icons-time-6c277d9cf411a761999f47361433a8be20844cee0271ce7d9bfbd820b0259918.png"
                      />
                    </div>
                    <div class="time-text the-label" itemprop="duration">
                      1 time
                    </div>
                  </div>
                  <span itemprop="description" class="hidden"></span>
                  <span itemprop="price" class="hidden"></span>
                </div>
              </div>
              <div
                class="select-container unselected"
                data-service-id="29587"
                data-service-link="/services/29587-test2/slots"
                data-service-hide-end-time="false"
                data-service-booking-type="appointment"
              >
                <span itemprop="custom_data" class="hidden"></span>
                <div>
                  <img
                    class="check-selected-round"
                    src="https://assets.makeplans.com/assets/icons-radio-unselected-30077e9f27cf1338d7747002efed9141e83d11aa6241883e9ba0d7846a94f10d.png"
                  />
                </div>
                <div class="select-text-container">
                  <p itemprop="title">Test2</p>
                  <div class="time-container">
                    <div>
                      <img
                        class="icon-time"
                        src="https://assets.makeplans.com/assets/icons-time-6c277d9cf411a761999f47361433a8be20844cee0271ce7d9bfbd820b0259918.png"
                      />
                    </div>
                    <div class="time-text the-label" itemprop="duration">
                      1 time
                    </div>
                  </div>
                  <span itemprop="description" class="hidden"></span>
                  <span itemprop="price" class="hidden"></span>
                </div>
              </div>
              <div
                class="select-container unselected"
                data-service-id="29588"
                data-service-link="/services/29588-test3/slots"
                data-service-hide-end-time="false"
                data-service-booking-type="appointment"
              >
                <span itemprop="custom_data" class="hidden"></span>
                <div>
                  <img
                    class="check-selected-round"
                    src="https://assets.makeplans.com/assets/icons-radio-unselected-30077e9f27cf1338d7747002efed9141e83d11aa6241883e9ba0d7846a94f10d.png"
                  />
                </div>
                <div class="select-text-container">
                  <p itemprop="title">Test3</p>
                  <div class="time-container">
                    <div>
                      <img
                        class="icon-time"
                        src="https://assets.makeplans.com/assets/icons-time-6c277d9cf411a761999f47361433a8be20844cee0271ce7d9bfbd820b0259918.png"
                      />
                    </div>
                    <div class="time-text the-label" itemprop="duration">
                      1 time
                    </div>
                  </div>
                  <span itemprop="description" class="hidden"></span>
                  <span itemprop="price" class="hidden"></span>
                </div>
              </div>
            </div>
            <div
              class="col-6 col-t-2 col-m-1 hidden"
              id="selected_service"
            ></div>
          </div>
        </div>
      </div>
    </main>

    <template id="service_template">
      <h2 id="selected_service_title">{{ title }}</h2>
      <span id="custom_data_container">
        {% for custom_data_item in custom_data %}
        <span data-custom-data-key="{{ custom_data_item[0] }}" class="hidden"
          >{{ custom_data_item[1] }}</span
        >
        {% endfor %}
      </span>

      {% unless hideEndTime %}
      <div class="time-container">
        <div>
          <img
            class="icon-time"
            alt="Tid"
            src="https://assets.makeplans.com/assets/icons-time-6c277d9cf411a761999f47361433a8be20844cee0271ce7d9bfbd820b0259918.png"
          />
        </div>
        <div class="time-text the-label" id="selected_service_duration">
          {{ duration }}
        </div>
      </div>
      {% endunless %}

      <div
        class="two-paragraphs-same-line margin-bot-8"
        id="selected_service_price"
      >
        {% if price and price != '' %}
        <h3 id="selected_service_amount">{{ price }} kr</h3>
        {% endif %}
      </div>

      <a class="button btn-primary" id="selected_service_link" href="{{ url }}"
        >Book denne tjenesten</a
      >

      <p class="margin-top-8" id="selected_service_description">
        {{ description }}
      </p>
    </template>

    <template id="product_template">
      <h2 id="selected_service_title">{{ title }}</h2>
      <span id="custom_data_container">
        {% for custom_data_item in custom_data %}
        <span data-custom-data-key="{{ custom_data_item[0] }}" class="hidden"
          >{{ custom_data_item[1] }}</span
        >
        {% endfor %}
      </span>

      <div
        class="two-paragraphs-same-line margin-bot-8"
        id="selected_service_price"
      >
        {% if price and price != '' %}
        <h3 id="selected_service_amount">{{ price }} kr</h3>
        {% endif %}
      </div>

      <a class="button btn-primary" id="selected_service_link" href="{{ url }}"
        >Kjøp</a
      >

      <p class="margin-top-8" id="selected_service_description">
        {{ description }}
      </p>
    </template>

    <!---START of Footer-->
    <div class="margin-top-48"></div>
    <footer class="container-fluid">
      <div class="header-footer-background footer-padding">
        <div class="row">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="footer-container">
                  <a
                    target="_blank"
                    title="Timebestilling og påmeldinger"
                    href="https://makeplans.no/?utm_source=Makeplans&amp;utm_medium=bookingsite&amp;utm_campaign=trydig"
                  >
                    <img
                      class="footer-logo"
                      alt="Bunntekst logo"
                      src="https://assets.makeplans.com/assets/logo-make-plans-eeba4a5a6eae0c26801a1655fbc40a706d17b8ce92caf624841251cb44e726d0.png"
                    />
                  </a>
                  <div class="footer-medium-text"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="container">
            <div class="row">
              <div class="col-6 col-t-2 col-m-1">
                <div class="footer-small-text">
                  Brukervennlig system for timebestilling og påmelding.
                </div>
              </div>
              <div class="col-6 col-t-2 col-m-1 footer-end">
                <div class="footer-small-text">Bookingside for TRY Dig</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script
      src="https://assets.makeplans.com/assets/theme_timisoara-fad2d5ad21b38a2f1b0237b9fbf3e518629a53a309ef823fecd78115b3bebc94.js"
      nonce=""
    ></script>
    <script
      src="https://assets.makeplans.com/assets/theme_timisoara_services-e499fad905c491de029dbb35cec4b10338289a9217c6163218fba04ae260afe4.js"
      nonce=""
    ></script>
  </body>
</html>
